################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/
/EAStyles/bin/
/EAStyles/obj/
/EAStyles.Demo/obj/
/EAStyles.Demo/bin/
/EAStyles/.vs/
*.ini
*.baml
*.dtbcache
*.suo
/Arthas/obj/Debug
/Arthas.Demo/obj/Debug
/EASkins/obj/Debug
/EAWpfDemo/obj/Debug
/MaterialExample/obj/Debug
/MetroUiToolkit/obj/Debug
/MetroUiToolkitDemo/obj/Debug
/Arthas/bin/Debug
/Arthas.Demo/bin/Debug
/EASkins/bin/Debug
/EAWpfDemo/bin/Debug
/MaterialExample/bin/Debug
/MetroUiToolkit/bin/Debug
/MetroUiToolkitDemo/bin/Debug
